<h3>{{ path }}</h3>
<table class="table table-striped table-condensed table-hover browser">
	<thead>
		<th class="browser-col-icon"></th>
		<th>Name</th>
		<th>Size</th>
	</thead>
	<tbody>
		{{#each items}}
		<tr>
			<td class="browser-col-icon">{{ mimeImg mime }}</td>
			<td><a href="#" data-path="{{ path }}" class="browser-link">{{ name }}</a></td>
			<td>{{fileSize size mime}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{#if readme}}
<div class="well">
	<span class="pull-right label">README.md</span>
	{{{ readme }}}
</div>
{{/if}}